- name: install vlc
  hosts: all
  remote_user: "{{ssh_user}}"
  tasks:
#---------------------------------------------------------------------------------------------
  - name: ensure 'vlc' is at the latest version
    become: true
    become_method: sudo
    apt:
      name: vlc
      state: latest
    when: install_vlc == 1
