- name: install rpi-imager
  hosts: all
  remote_user: "{{ssh_user}}"
  gather_facts: no
  tasks:
  - name: upgrade installed apt packages
    become: true
    become_method: sudo
    apt:
      name: "*"
      state: latest
      update_cache: yes
      cache_valid_time: 30 #One day 
    when: install_rpi_imager == 1
#---------------------------------------------------------------------------------------------
  - name: ensure 'rpi-imager' is at the latest version
    become: true
    become_method: sudo
    apt:
      name: rpi-imager
      state: latest
    when: install_rpi_imager == 1
